Project/Library/*
Project/obj/*
Project/Temp/*
Project/.vs/*

NewProject/Library/*
NewProject/obj/*
NewProject/Temp/*
NewProject/.vs/*



*.csproj

*.user

*.csproj

*.sln

*.suo

*.lock

*.ide

*.ide-shm

*.ide-wal

