Project/Library/*
Project/obj/*
Project/Temp/*
Project/.vs/*

Project_2/Library/*
Project_2/obj/*
Project_2/Temp/*
Project_2/.vs/*



*.csproj

*.user

*.csproj

*.sln

*.suo

*.lock

*.ide

*.ide-shm

*.ide-wal

